@import url(./__image/places__image.css);
@import url(./__link/places__link.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__place/places__place.css);
@import url(./__text/places__text.css);
@import url(./__title/places__title.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__website/places__website.css);

.places {
    width: 100%;
    max-width: 984px;
    margin: 92px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1279px){
.places {
    padding: 0;
}
}

@media screen and (max-width: 1023px){
    .places {

        padding: 0;
    }
    }

@media screen and (max-width: 767px){
    .places {
        margin: 0;
    }
}