@import url(./_selected/header__lang_selected_true.css);
@import url(./_selected/header__lang_selected_false.css);

.header__lang {
    color: #ffffff;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
}