.cover__subtitle {
    display: block;
    margin: 0 auto;
    position: absolute;
    max-width: 382px;
    top: 80%;
    left: 0;
    right: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}