.places__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

@media screen and (max-width: 767px)
{
.places__text {

    margin: auto 16px;
}
}