.footer__link {
    margin-right: 18px;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 767px)
{
.footer__link {
    
    font-size: 24px;
    line-height: 56px;

}
}
