.lead__title {
    max-width: 720px;
    min-width: 288px;    
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 767px){
.lead__title {
    width: calc(100% - 32px);

    font-size: 40px;
    line-height: 44px;
    margin-bottom: 8px;
}
}