.header__langs {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: 23px;
    grid-column-gap: 18px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header__langs {
        grid-column-gap: 16px;
    }
}