@import url(./__background/cover__background.css);
@import url(./__image/cover__image.css);
@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
    max-width: 1184px;
    margin: 0 auto 92px;
}


@media screen and (max-width: 768px){
    .cover {   
    margin: 0 auto 64px;
}
}